<style>
.table-list thead th {
	height:32px;
	line-height:32px;
	margin:0 1px;
}
.table-list td {
	height:30px;
	text-height:30px;
	margin:1px;
	padding:0 4px;
}
.table-list .plus {
	color:#690;
}
.table-list .minus {
	color:#c00;
}

.table-list .number {
	text-align: right;
}
.minus input {
	color:#c00;
}
</style>
<div id="content"><div>
<div id="nav">
<ul><li>บัตร</li><li>ประวัติบัตร</li></ul>
<div id="page-title"><span class="date" my-current-time="dateFormat"></span></div>
</div>
<div id="body"><div class="body-wrap">

<form name="cardAdjustForm" novalidate>

<div style="position:absolute;left:0px;top:12px;width:400px;height:256px;"><atta-card></atta-card></div>


<div class="widget" style="left:0px;top:288px;width:400px;"><form-input type="number" money="0" model="cardAccount.balance" required hint="ยอดคงเหลือ" unit="PAX" readonly icon="money"></form-input></div>

<div class="widget" style="left:0px;top:320px;width:400px;height:32px;"><div class="input-wrap"><div class="input-custom" style="background-image:url(img/icon/code.png)"><label class="label">เลือกกะ</label><div class="content"><select id="period" ng-model="selectedPeriod" ng-options="item as item.code for item in periodList" ng-required tab-stop ng-change="getTxListByPeriod()"></select></div></div></div></div>

<div class="widget" style="left:0px;top:352px;width:400px;"><form-input type="text" model="cardAccount.setCartNo" required hint="เลขที่บัตร" icon="card" blur="getCardNo()"></form-input></div>


<div class="widget" style="left:416px;top:0px;width:480px;height:448px">
<table class="table-list">
<caption><button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="icon prev small">&nbsp;</button>
{{currentPage+1}} / 1
		<button ng-disabled="currentPage >= numPages()-1" ng-click="currentPage=currentPage+1" class="icon next small">&nbsp;</button></caption>
<thead>
	<tr><th>ที่</th><th>วัน/เวลา</th><th>รายการ</th><th>จำนวน</th><th>คงเหลือ</th></tr>
</thead>
<tbody>
<tr ng-repeat="tx in cardTx | startFrom:currentPage*pageSize | limitTo:pageSize">
	<td>{{currentPage*pageSize+$index+1}}</td>
	<td title="{{tx.code}}">{{tx.tx_date|toDate|date:'ddMMMyy HH:mm:ss'|uppercase}}</td>
	<td title="{{tx.ref1_type+':'+tx.ref1_code}}">{{tx.tx_type+(tx.ref1_code==''?'':'('+tx.ref1_code+')')}}</td>
	<td class="number" ng-class="{'plus':tx.new_pax*1>0,'minus':tx.pax*1<0,'zero':tx.new_pax*1==0}">{{tx.new_pax*1>=0?'+':''}}{{tx.new_pax}}</td>
	<!-- <td class="number" ng-class="{'plus':tx.pax*1>0,'minus':tx.pax*1<0,'zero':tx.pax*1==0}">{{tx.pax*1>=0?'+':''}}{{tx.pax*1|number:0}}</td> -->
	<td class="number">+{{tx.balance_pax*1|number:0}}</td></tr>
</tbody>
</table>
</div>

<div class="control"><button tab-stop ng-click="doPreview()" class="button save" ng-disabled="period=''">แสดงรายงาน</button><button tab-stop ng-click="reset()" class="button reset">เริ่มใหม่</button></div>
</form>
</div></div><!--#body-->
</div></div><!--#content-->