<style>
.red input {
	color:red;
}
.close {
	
}
</style>
<div id="content"><div>
<div id="nav">
<ul><li>บัตร</li><li>ยกเลิกบัตร</li></ul>
<div id="page-title"><span class="date" my-current-time="dateFormat"></span></div>
</div>
<div id="body"><div class="body-wrap">

<form name="cardCancelForm" novalidate>

<div class="widget" style="left:0px;top:0px;width:400px;height:32px;"><form-input form-id="member" type="text" ng-keypress="showLovCard($event)" ng-class="{lov:true}" icon="member" model="card.member_name" tab hint="สมาชิก" autofocus readonly></form-input></div>

<div class="widget" style="left:0px;top:32px;width:400px;"><form-input type="text" model="card.holder_name" hint="ผู้ถือบัตร" readonly required icon="code"></form-input></div>

<div class="widget" style="left:0px;top:64px;width:400px;"><form-input type="text" model="card.card_number" hint="เลขที่หน้าบัตร" readonly required icon="code"></form-input></div>

<div class="widget" style="left:0px;top:96px;width:400px;"><form-input type="text" model="card.code" hint="รหัสบัตร" readonly required icon="code"></form-input></div>

<div class="control">
  <button tab-stop ng-click="cardCancelConfirm()" class="button save" ng-disabled="!isValid(cardCancelForm)">ยกเลิกบัตร</button>
  <!-- <button tab-stop ng-click="jCheck()" class="button save">jCheck</button> -->
  <!--<button tab-stop ng-click="testDisable()" class="button save" ng-disabled="!isValid(cardUseForm)">บันทึกรายการ/พิมพ์</button>-->
  <!--
  <button tab-stop ng-click="printRecord()" class="button print" ng-disabled="cardUse.taxInvoiceCode!=''">พิมพ์ใบเสร็จ/ใบรับเงิน</button>
  -->
  <button tab-stop ng-click="reset()" class="button reset" id="reset">เริ่มใหม่</button>
</div>
</form>
</div></div><!--#body-->
</div></div><!--#content-->