<style>

.input.license {
	width:160px;
	top:0px;
	text-align:center;
	background-color:rgba(255,255,255,0.7);
	background-image:none;
	height:28px;
	line-height:28px;
	border:0;
	padding:0;
}
.input.pax {
	width:120px;
	top:0px;
	text-align:center;
	background-color:rgba(255,255,255,0.7);
	background-image:none;
	height:28px;
	line-height:28px;
	border:0;
	padding:0;
}
.flight input {
	text-transform:uppercase;
}
</style>
<div id="content"><div>
<div id="nav">
<ul><li>รับแจ้ง</li><li>ใบแจ้ง</li></ul>
<div id="page-title"><span class="date" my-current-time="dateFormat"></span></div>
</div>
<div id="body" class="canvas">
<form name="informForm" novalidate>

<div class="widget" style="left:0px;top:0px;width:400px;height:32px;"><form-input type="text" model="inform.code" readonly icon="code" hint="เลขที่ใบรับแจ้ง" ></form-input></div>

<div class="widget" style="left:0px;top:32px;width:400px;height:32px;"><form-input form-id="member" type="text" icon="member" model="selectedMember" tab hint="สมาชิก" readonly></form-input></div>

<div class="widget" style="left:0px;top:64px;width:400px;height:32px;"><form-input form-id="nation" type="text" ng-keypress="showLovNation($event)" ng-class="{lov:true}" icon="domestic" model="selectedNation" readonly tab hint="สัญชาติ" required disabled="canEditInform()"></form-input></div>

<div class="widget" style="left:0px;top:96px;width:400px;height:32px;"><form-input form-id="flight" type="text" model="inform.flight" required icon="arrival" hint="เที่ยวบิน"  ng-class="{flight:true}" pattern="^([A-Za-z][0-9A-Za-z]|[0-9A-Za-z][A-Za-z])[A-Za-z0-9]?[0-9]{1,4}$" blur="getFlight()" disabled="canEditInform()"></form-input></div>

<div class="widget" style="left:0px;top:128px;width:400px;height:32px;"><div class="input-wrap"><div class="input-custom" style="background-image:url(img/icon/datetime.png)"><input type="date" ng-model="inform.date" ng-disabled="canEditInform()" tab-stop/><input type="time" ng-model="inform.time" ng-disabled="canEditInform()" tab-stop/></div></div></div>


<div class="widget" style="left:0px;top:160px;width:400px;height:32px;"><form-input form-id="hotel" type="text" ng-keypress="showLovHotel($event)" ng-class="{lov:true}" icon="address" model="selectedHotel" hint="โรงแรม/ที่พัก" disabled="canEditInform()" required readonly tab></form-input></div>

<div class="widget" style="left:0px;top:192px;width:400px;height:32px;"><form-input form-id="group_name" type="text" model="inform.group_name" disabled="canEditInform()" required icon="code" hint="ชื่อกรุ๊ป"></form-input></div>

<div class="widget" style="left:0px;top:224px;width:400px;height:32px;"><form-input form-id="note" type="text" ng-keypress="showLovTrasferBy_Edit($event)" ng-class="{lov:true}" model="inform.note" icon="code" hint="มารับโดย" disabled="canEditInform()" required></form-input></div>

<div class="widget" style="left:0px;top:256px;width:400px;height:32px;"><form-input form-id="ref_code" type="text" model="inform.ref_code" icon="code" hint="เลขใบแจ้งอ้างอิง" disabled = "true"></form-input></div>

<div class="widget" style="left:416px;top:0px;width:400px;height:32px"><div class="input-wrap"><div class="input-custom" style="background-image:url(img/icon/domestic.png)"><label class="label">ประเภท</label><div class="content"><input type="checkbox" ng-model="inform.is_domestic" ng-true-value="YES" ng-false-value="NO" class="switch small" id="is_domestic" ng-disabled="true"/><label for="is_domestic">{{inform.is_domestic=='YES'?"ในประเทศ":"ต่างประเทศ"}}</label></div></div></div></div>

<div class="widget" style="left:416px;top:32px;width:400px;height:32px;"><div class="input-wrap"><div class="input-custom" style="background-image:url(img/icon/bus.png)"><input type="text" ng-model="license" ng-disabled = "cannotBus()" name="license" id="license" class="input license" placeholder="เลขทะเบียนรถ" tab-stop>
<input type="button" value="เพิ่ม" ng-click="addBus()" ng-disabled = "cannotBus()"  tab-stop></div></div></div>

<div class="widget" style="left:850px;top:0px;width:250px;height:50px;"><p style="margin-top: 0px;margin-bottom: 0px; text-align: left; font-size: 2.3em">ลำดับที่: {{runNo}}</p></div>

<div class="widget" style="left:416px;top:64px;width:400px;height:400px;">
<table class="table-list">
<thead>
<tr>
	<th>#</th>
	<th>ทะเบียนรถ</th>
	<th>PAX</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="bus in buscallList">
	<td class="center">{{$index+1}}</td>
	<td class="center"><input type="text" ng-model="bus.license" ng-disabled = "cannotBus()"  class="input license" placeholder="เลขทะเบียนรถ" tab-stop></td>
	<td class="center">{{bus.pax}}</td>
</tr>
</tbody>
</table>
</div>
<div class="control">
	<button id="saveInform" tab-stop ng-click="save()" class="button save" ng-disabled="canEditInform()">บันทึก</button>
	<button tab-stop ng-click="goBack()" id="reset" class="button back">ย้อนกลับ</button>
	<button tab-stop ng-click="print()" id="print" class="button print">พิมพ์</button>
	<!-- <button id="jes_check" tab-stop ng-click="jes_check()" class="jes_check">Check</button> -->
	<button ng-click="cancel()" id="buy" class="button" style="float:right">ยกเลิกใบแจ้ง</button>
</div>
</form>
</div><!--#body-->
</div></div><!--#content-->
